  

  *{
    font-family: sans-serif;
  }

  @media only screen and (min-width: 1280px) {
    #warning-mobile {
        display: none;
    }
  }

  .padding-left{
    padding-left: 25px;
  }

  body {
    background:#eaeaef;
    color: #333333;
    margin-top: 4rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #343A40;
  }

  .navbar{
    margin: 0px 0px 30px 0px;
    padding: 10px 20px 10px 20px; 
  }

  a, a.school-link:hover, a.myresume:hover {
    color: #444444;
  }
  
  a.view-all, a.view-all:hover{
    color: white;
  }

  a:hover, a.myresume {
    text-decoration: none;
    color: #50bcfa;
  }

  h4.myresume {
    text-align: center;
  }
  
  a.footer-link, .site-header .navbar-nav .nav-link {
    color: #ced5db;
    margin: 0px 5px 0px 5px;
  }
  
  a.footer-link:hover, a.school-link, .site-header .navbar-nav .nav-link:hover {
    text-decoration: none;
    color: #50bcfa;
  }

  button.subject {
    margin-bottom: 20px;
  }

  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  .site-header .fixed-top{
    z-index: 900;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin: 30px 20px 30px 0px;
    width: 100%;
  }

  .content-section-portfolio {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin: 30px 0px 30px 0px;
  }

  .site-toggle-btn .topic-buttons{
    background-color: transparent; 
    border-color: transparent;
    border-top-color: transparent !important;
    border-style: none;
  } 

  .site-sidebar .topic-buttons{
    text-align: right !important;
  }
  
  .site-main .content-section, .site-main .content-section-portfolio {
    border-top-color: #50bcfa; 
    border-top-width: 6px;
    border-style: solid;
  }
  
  .site-sidebar .content-section, .site-sidebar .content-section-portfolio, .site-sidebar .subject-topic-ann {
    border-top-color: #ffa340;
    border-top-width: 6px;
    text-align: Left;
    border-style: solid;
  }

  .site-main .mysec-chem{
    border-top-color: #0A4C8C;
  }

  button.chem{
    background-color: #0A4C8C;
    border-color: #0A4C8C;
    color: white;
    padding: 15px;
  }

  button.chem:hover{
    background-color: #0A4C8C;
    border-color: #0A4C8C;
    color: white;
    opacity: 80%;
  }

  .site-main .mysec-cheme{
    border-top-color: #0A8C77;
  }

  button.cheme{
    background-color: #0A8C77;
    border-color: #0A8C77;
    color: white;
    padding: 15px;
  }

  button.cheme:hover{
    background-color: #0A8C77;
    border-color: #0A8C77;
    color: white;
    opacity: 80%;
  }

  .site-main .mysec-math{
    border-top-color: #80030D;
  }

  button.math{
    background-color: #80030D;
    border-color: #80030D;
    color: white;
    padding: 15px;
  }

  button.math:hover{
    background-color: #80030D;
    border-color: #80030D;
    color: white;
    opacity: 80%;
  }

  .site-main .mysec-phys{
    border-top-color: #60BF6D;
  }

  button.phys{
    background-color: #60BF6D;
    border-color: #60BF6D;
    color: white;
    padding: 15px;
  }

  button.phys:hover{
    background-color: #60BF6D;
    border-color: #60BF6D;
    color: white;
    opacity: 80%;
  }
  
  .article-title {
    color: #444444;
    padding-bottom: 10px;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    /*white-space: pre-line;*/  
    padding-top: 5px;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  footer.footer {
    margin: 20px 0px 0px 0px;
    padding: 30px 0px 20px 0px;
    text-align: center;
    background: #343A40;
    color: #cbd5db;
  }

  footer.neg-btm-margin{
    margin-top: 250px;
  }

  ol.home-info, ul.home-info {
    padding-left: 35px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  div.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: height 5s;
  }

  div.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdown-menu {
    margin-top: 0px;
    display: block;
  }

  table.view-all{
    margin: 10px 0px 10px 0px;
  }
  
  /* table {
    border: 1px solid black;
    width: 100%;  
  }

  th, tr, td {
    border: 1px solid black;
  } */
  
  td.align-right {
    text-align: right;
  }

  .medium-text {
    font-size: 19px;
  }

  ul {
    padding-left: 15px;
  }

  li.topic-arr{
    padding: 10px 15px 10px 0px;
  }

  .wrapper {
    display: block;
  }

  a.side-navbar{
    color: #cbd5db;
  }

  /* ---------- START General Topic Item Arrangements ---------- */
  img.topic-center-item{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img.img-size{
    width: 70%;
    height: 70%;
    border: 1px solid black;
    margin-bottom: 20px;
  }

  p.topic-center-item{
    text-align: center;
  }

  p.topic-item-padding{
    padding: 5px;
  }
  /* ----------------------------------------------------------- */

  /* ---------- START Topic Equation & Listing ---------- */
  ul.topic-list{
    padding-left: 25px;
  }

  ul.topic-list li{
    padding: 3px;
  }

  ul.topic-equations{
    padding-left: 25px;
  }

  ul.topic-equations li, p.topic-equations{
    padding: 10px;
  }
  /* ---------------------------------------------------- */


  /* ---------- START Sliding navigation sidebar ---------- */
  #sidebar {
    width: 350px;
    position: fixed;
    top: 0;
    left: -350px;
    height: 100vh;
    z-index: 999;
    background: #343A40;
    color: #cbd5db;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  }

  #sidebar.active {
    left: 0px;
  }

  #dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #343A40;
    color: #cbd5db;
    position: absolute;
    top: 25px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  #dismiss:hover {
    background: #cbd5db;
    color: #343A40;
  }

  .overlay {
    top: 0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .overlay.active {
    display: block;
    opacity: 1;
  }

  #sidebar .sidebar-header{
    padding: 15px 10px 0px 10px;
    background: #343A40;
    color: #cbd5db;
  }

  #sidebar .portfolio{
    padding: 10px 10px 30px 10px;
  }

  #sidebar ul.components {
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff; 
  }

  #sidebar ul p {
    color: #cbd5db;
    padding: 15px;
    background-color: #343A40;
  }

  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
  }

  #sidebar ul li a:hover {
    color: #343A40;
    background: #cbd5db;
  }

  #sidebar ul li.active>a,
  a[aria-expanded="true"] {
    color: #cbd5db;
    background: #484D53;
  }

  a[data-toggle="collapse"] {
    position: relative;
  }

  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #484D53;
  }

  .sidebar-padding-left{
    padding-left: 40px !important;
  }
  /* ------------------------------------------------------ */