{% extends "layout_subject.html" %}

{% block navbarhome %}
    <li class="nav-item dropdown">
        <div class="animate-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Topics
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Calc. I</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Calc. II</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Calc. III</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Calc. IV</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Linear Algebra</a>

            </div>
        </div>
    </li>
{% endblock %}

{% block content %}

<div class="content-section mysec-math">
    <div class="article-content">
        <u><h2>Welcome Curious Mathematicians!</h2></u>
        
        If you are here, it could mean that you are interested in learning some mathematics material. Well, I am glad
        you are able to join me to explore what entails the mathematics section of andrew's notebook. Take a look below
        for the available topics that is/will be offered:
    </div>  
</div>

<div class="content-section mysec-math">
    <div class="article-content">
        <table class="view-all">
            <tr>
                <td style="text-align: center; width:20%; border:1px;">
                    \[f(x) = e^{x} + 4sin(x)\]
                    \[\lim_{x \to +\infty} f(x)\]
                    \[f'(x) = \frac{dy}{dx} = y'\]
                </td>
                <td style="width:60%; padding: 10px 50px 10px 30px;">
                <u><h2>Calculus I</h2></u>
                    This is considered the first out of four calculus courses that are typically offered in colleges. In Calculus I, you will begin by
                    refreshing your knowledge on functions, domain, ranges, etc. This will be followed by some lessons on Limits which is the bridge to
                    helping you understand what derivatives are and how the rules of derivatives are applied when using them on the different functions
                    you encountered in the beginning of this topic. Finally, you will see how these differentiation techniques can be used in applications!
                </td class="content-button-divider">
                <!--<td style="width:15%; text-align: center;"><button type="button" class="btn btn-primary math"><a class="view-all" href="{{ url_for('subjects.subject_home', subject_name='math') }}">Learn Calc. I</a></button></td>-->
            </tr>
        </table>
    </div>  
</div>

<div class="content-section mysec-math">
    <div class="article-content">
        <table class="view-all">
            <tr>
                <td style="text-align: center; width:20%; border:1px;">
                    \[\int_{a}^{b} x^2 dx\]
                    \[\sum_{n=1}^{\infty} f(x)\]
                    \[\frac{dy}{dx} = 2y + x\]
                </td>
                <td style="width:60%; padding: 10px 50px 10px 30px;">
                <u><h2>Calculus II</h2></u>
                    This is a continuation of Calculus I. You will be honing your skills in the use of anti-derivatives also known as integrals as well as the
                    rules that apply when using them. Integral is the opposite of derivatives just like how multiplication is the opposite of division. 
                    You will see the applications of integrals and the topic will move on to a slightly different direction. The proceeding chapter of this topic 
                    will be series! These will include series such as Taylor and Maclaurin series and how you can use them for different types of approximations.  
                </td class="content-button-divider">
                <!--<td style="width:15%; text-align: center;"><button type="button" class="btn btn-primary math"><a class="view-all" href="{{ url_for('subjects.subject_home', subject_name='math') }}">Learn Calc. II</a></button></td>-->
            </tr>
        </table>
    </div>  
</div>

<div class="content-section mysec-math">
    <div class="article-content">
        <table class="view-all">
            <tr>
                <td style="text-align: center; width:20%; border:1px;">
                    \[dz = f_x dx + f_y dy\]
                    \[\iint_D f(x,y) dxdy\]
                    \[\iiint_R f(x,y,z) dxdydz\]
                </td>
                <td style="width:60%; padding: 10px 50px 10px 30px;">
                <u><h2>Calculus III</h2></u>
                    By now, you know that this is just a continuation of Calculus II! Over here, you will do what you have been doing in Calc. I & Calc. II but with a little
                    bit of a twist - you will be working with 2 and 3-dimensional calculus! This does add a little more complexity to the way you finish calculating the double/triple
                    integrals, longer differention rules to the account for the relationship of one variable has with another.
                </td class="content-button-divider">
                <!--<td style="width:15%; text-align: center;"><button type="button" class="btn btn-primary math"><a class="view-all" href="{{ url_for('subjects.subject_home', subject_name='math') }}">Learn Calc. III</a></button></td>-->
            </tr>
        </table>
    </div>  
</div>

<div class="content-section mysec-math">
    <div class="article-content">
        <table class="view-all">
            <tr>
                <td style="text-align: center; width:20%; border:1px;">
                    \[y' + p(x)y =  q(x)y^{n}\]
                    \[ay'' + by' + cy = g(t)\]
                    \[W(f, g) = fg' - gf'\]
                </td>
                <td style="width:60%; padding: 10px 50px 10px 30px;">
                <u><h2>Calculus IV</h2></u>
                    While this is not the last of Calculus, this is typically the highest level of math typical undergraduate students take unless you are a 
                    math or physics major. Over here, you will learn more about the differential equations you have been solving in Calc. II. Instead of solving
                    homogeneous differential equations, you will begin to learn the different techniques used to solve multi-dimensional and non-homogenous 
                    differential equations. This is not an easy topic but solving the toughest of differential equation analytically is one of the most satisfying feeling you can have! 
                </td class="content-button-divider">
                <!--<td style="width:15%; text-align: center;"><button type="button" class="btn btn-primary math"><a class="view-all" href="{{ url_for('subjects.subject_home', subject_name='math') }}">Learn Calc. IV</a></button></td>-->
            </tr>
        </table>
    </div>  
</div>

<div class="content-section mysec-math">
    <div class="article-content">
        <table class="view-all">
            <tr>
                <td style="text-align: center; width:20%; border:1px;">
                    \[det\begin{bmatrix}a & b\\c & d\end{bmatrix} = ad - bc\]
                    \[det(A - \lambda I) = 0 \]
                    \[A^{-1} = \frac{1}{ad-bc}\begin{bmatrix}d & -b\\-c & a\end{bmatrix}\]
                </td>
                <td style="width:60%; padding: 10px 50px 10px 30px;">
                <u><h2>Linear Algebra</h2></u>
                    The name of this topic kind of gives it away... You will be learning about linear equations and such! You will initially
                    learn about solving simple 2 linear equations involving 2 variables and the different methods you can use to solve them.
                    What follows after is extending the technique you learn for 2 equations to more number of equations. Then you will learn about 
                    eigenvalue, eigenvectors, linear transformation and such that can be applied to matrices!
                </td class="content-button-divider">
                <!--<td style="width:15%; text-align: center;"><button type="button" class="btn btn-primary math"><a class="view-all" href="{{ url_for('subjects.subject_home', subject_name='math') }}">Learn Lin. Alg.</a></button></td>-->
            </tr>
        </table>
    </div>  
</div>
    
    

{% endblock content %}