{% extends "layout_subject.html" %}

{% block topic %}
    <li class="nav-item dropdown">
        <div class="animate-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Topics
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('math.math_calc_i_intro') }}">Calc. I</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Calc. II</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Calc. III</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Calc. IV</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Linear Algebra</a>

            </div>
        </div>
    </li>
{% endblock %}

{% block content %}
    
    <div class="content-section">
        <h2 class="article-title">Welcome curious mathematician!</h2>

        <div class="article-content">
            <p> 
                If you are here, it could mean that you are interested in learning some mathematics material. Well, I am glad
                you are able to join me to explore what entails the mathematics section of andrew's notebook. Let me first introduce you
                to the topic notes that are available for use today:
                <br><br>
                <b>Topics:</b>
                <ul class="subject">
                    <li><a class="school-link" href="{{ url_for('math.math_calc_i_intro') }}"><b>Calculus I</b></a></li>
                    <br>
                    <li><strike><a href=""><b>Calculus II</b></a></strike></li>
                    <br>
                    <li><strike><a href=""><b>Calculus III</b></a></strike></li>
                    <br>
                    <li><strike><a href=""><b>Calculus IV</b></a></strike></li>
                    <br>
                    <li><strike><a href=""><b>Linear Algebra</b></a></strike></li>
                </ul>
                <br>
                Please understand that this is an ongoing project and the striked out titles mean that the material is not ready for use.
                Since this notebook might be new to you, here is a <b>quick guide</b> you may refer to, to familiarize yourself with this
                section of the notebook:
                <br><br>
                <b>Quick Guide:</b>
                <ul class="subject">
                    <br>
                    <li>Every topic will have its appropriate introduction page to define the scope of the notes.</li>
                    <br>
                    <li>
                        At the beginning of each chapter, there will be a summary of concepts to be covered and at the end
                        of the chapter, a summary of the formulas and theories will be reviewed.
                    </li>
                    <br>
                    <li>
                        Example problems will be shown at the bottom of the notes to show the use of the concept or formula shown
                        in the notes.
                    </li>
                    <br>
                    <li>A sidebar of links and tools will be placed to the right of the lesson which will consist of practice questions and 
                        calculators of some sort that may assist you with the calculation portion of the practice.
                    </li>
                </ul>
                <br>
                With that in mind, you may begin by selecting a topic of your interest or you may begin from the very start of this notebook
                using this button:
            </p>
        </div>  
        <br>
        <a href="{{ url_for('math.math_calc_i_intro') }}"><button type="button" class="btn btn-primary btn-lg btn-block subject">Let's Get Started!</button></a>
    </div>

{% endblock content %}