{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h2 class="article-title">My Resume <small class="text-muted">-Last updated: April 4, 2020</small></h2>
        <p>This is written in Word, but I will be updating this to a Latex written file!</p>
    </div>

    <div class="content-section embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/1ag_9IgZOP4blD1s1jL0lmmlThUT_Wm5A/preview" allowfullscreen></iframe>
      </div>


{% endblock content %}