{% extends "layout.html" %}
{% block content %}
    
    <div class="content-section-portfolio">
        <h2 class="article-title"><u>Work Experience</u></h2>

        <!-------------------- Dow Chemical Internsip @ loc TBD -------------------->
        <div class="container">
            <h4>Dow Chemical</h4>
            <i> Improvement Engineering Intern </i> <span>&#8226</span> Jun '20 - Aug '20
            <p></p>
        </div>

        <div class="dropdown-divider"></div>

        <!-------------------- BASF Internship @ East Setauket -------------------->
        <div class="container">
            <h4>BASF Corporation</h4>
            <i> Chemical Engineering Intern </i> <span>&#8226</span> Jul '19 - Apr '20
            <p></p>
            <ul>
                <li>Design and 3-D model new process set-up that saves the site over $360,000/year</li>
                <li>Create and update Process Flow Diagrams (PFDs) and Process & Instrumentation Diagrams 
                    (P&IDs) for maintenance department to ensure a safe working environment</li>
                <li>Streamline facility emergency protocols through change of existing safety equipment</li>
            </ul>
        </div>
    </div>

    <div class="content-section-portfolio">
        <h2 class="article-title"><u>Research Experience</u></h2>

        <!-------------------- BNL w/ Dr. Tadanori Koga -------------------->
        <div class="container">
            <h4>Brookhaven National Lab: Center for Functional Nanomaterials</h4>
            <i> Student Researcher </i> <span>&#8226</span> Mar '18 - Jun '19
            <p></p>
            <ul>
                <li>Trained 2 graduate students in the use of atomic force microscope</li>
                <li>Assimilated atomic force microscopy techniques for polymer film characterization</li>
                <li>Assessed the biodegradability of microbial Polyhydroxyalkanoates for surgical materials</li>
            </ul>
        </div>

        <div class="dropdown-divider"></div>

        <!-------------------- AERTC w/ Dr. Devinder Mahajan -------------------->
        <div class="container">
            <h4>Institute of Gas Innovation and Technology Laboratories</h4>
            <i> Student Researcher </i> <span>&#8226</span> Mar '18 - Dec '18
            <p></p>
            <ul>
                <li>Designed a multi-chambered woodstove improving combustion efficiency</li>
                <li>Automated the airflow system using Arduino and 3-D printed CAD drawings</li>
                <li>Formulated critical relationships between air supply entrance and optimal airflow</li>
            </ul>
        </div>

        <div class="dropdown-divider"></div>

        <!-------------------- Mat. Sci. Lab w/ Dr. Sophia Suarez -------------------->
        <div class="container">
            <h4>Brooklyn College Materials Research Laboratory</h4>
            <i> Student Researcher </i> <span>&#8226</span> Jul '15 - Sep '16
            <p></p>
            <ul>
                <li>Determined proton transport at variance with varying concentration and viscosity of sulfuric acid</li>
                <li>Performed impedance spectroscopy and viscometery techniques to acquire critical data points</li>
            </ul>
        </div>
    </div>

    <div class="content-section-portfolio">
        <h2 class="article-title"><u>Projects</u></h2>

        <!-------------------- Flask_Blog Project -------------------->
        <div class="container">
            <h4>andrew's notes</h4>
            <i> Creator, Writer, Administrator </i> <span>&#8226</span> Apr '20 - Present
            <p></p>
            <ul>
                <li>Personal blog with components of open studying resources.</li>
                <li>Perform system administration through secure shell (SSH) on a virtual private server (VPS) running Ubuntu</li>
            </ul>
        </div>
    </div>

{% endblock content %}

{% block sidebar_portfolio %}
    <div class="content-section-portfolio">
        <h4><u>Education</u></h4>

        <table style="width: 300px;">
            <tr>
                <td class="medium-text">Stony Brook University</td>
                <td class="align-right"><small class="text-muted">New York</small></td>
            </tr>
            <tr>
                <td colspan="2"><div class="dropdown-divider"></div></td>
            </tr>
            <tr>
                <td colspan="2"><a class="school-link" href="https://www.stonybrook.edu/ceas/" target="_blank">College of Eng. and Applied Science</a></td>
            </tr>
            <tr>
                <td><b>B.E.</b> Chemical Engineering<br></td>
                <td class="align-right"><small class="text-muted">2017-2021</small></td>
            </tr>
            <tr>
                <td colspan="2"><div class="dropdown-divider"></div></td>
            </tr>
            <tr>
                <td colspan="2"><a class="school-link" href="https://www.stonybrook.edu/commcms/cas/" target="_blank">College of Arts and Science </a></td>
            </tr>
            <tr>
                <td><b>B.A.</b> Chemistry <br></td>
                <td class="align-right"> <small class="text-muted">2018-2021</small></td>
            </tr>
        </table>
    </div>

    <div class="content-section-portfolio">
        <h4><u>Hobbies</u></h4>

        <!-------------------- Reading Hobby -------------------->
        <ul>
            <li>
                Reading self-improvement books
                <small><u>Recommendations</u></small>
                <table style="width: 270px;">
                    <tr>
                        <td>1. Principles</td>
                        <td style="text-align: right;"><small>Ray Dalio</small></td>
                    </tr>
                    <tr>
                        <td>2. Atomic Habits</td>
                        <td style="text-align: right;"><small>James Clear</small></td>
                    </tr>
                    <tr>
                        <td>3. The Compound Effect</td>
                        <td style="text-align: right;"><small>Darren Hardy</small></td>
                    </tr>
                </table>
            </li>
        </ul>
        <div class="dropdown-divider"></div>
        
        <!-------------------- Flask Hobby -------------------->
        <ul>
            <li>
                Experimenting on andrew's notes<br>
                <small><u>Looking at</u></small>
                <table style="width: 270px;">
                    <tr>
                        <td>1. Flask Security</td>
                        <td style="text-align: right;"><small>For secure logins</small></td>
                    </tr>
                    <tr>
                        <td>2. Javascript</td>
                        <td style="text-align: right;"><small>For better UI/UX</small></td>
                    </tr>
                    <tr>
                        <td>3. SQL Alchemy</td>
                        <td style="text-align: right;"><small>For better data mgmt.</small></td>
                    </tr>
                </table>
            </li>
        </ul>
        <div class="dropdown-divider"></div>

        <!-------------------- Cooking Hobby -------------------->
        <ul>
            <li>
                Cooking!<br>
                <small><u>Favorite Cuisines | Dish</u></small>
                <table style="width: 270px;">
                    <tr>
                        <td>1. Indonesian</td>
                        <td style="text-align: right;"><small>Soto Ayam Banjarmasin</small></td>
                    </tr>
                    <tr>
                        <td>2. Chinese</td>
                        <td style="text-align: right;"><small>Hokkien Mee</small></td>
                    </tr>
                    <tr>
                        <td>3. English</td>
                        <td style="text-align: right;"><small>Fish & Chips</small></td>
                    </tr>
                </table>
            </li>
        </ul>
    </div>

    <div class="content-section-portfolio">
        <h4><u>Interests</u></h4>

        <!-------------------- Personal Interests -------------------->
        <u>Personal</u>
        <table>
            <tr>
                <td>1. Entrepreneurship</td>
            </tr>
            <tr>
                <td>2. Real Estate</td>
            </tr>
            <tr>
                <td>3. FIRE Movement</td>
            </tr>
        </table>

        <div class="dropdown-divider"></div>
        
        <!-------------------- Academic Interests -------------------->
        <u>Academic</u>
        <table>
            <tr>
                <td>1. Process Optimizations | DMAIC </td>
            </tr>
            <tr>
                <td>2. Creating open resource </td>
            </tr>
            <tr>
                <td>3. Chemical & Reactions Engineering </td>
            </tr>
        </table>

    </div>

    <div class="content-section-portfolio">
        <h4 class="myresume"><a class="myresume" href="{{url_for('posts.resume')}}">View Resume (.pdf)</a></h4>
    </div>

{% endblock %}