{% extends "layout.html" %}

{% block navbar %}
    <li class="nav-item dropdown">
        <div class="animate-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Topics
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Physics I</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Physics II</a>
            </div>
        </div>
    </li>
{% endblock %}

{% block content %}
    
    <div class="content-section">
        <h2 class="article-title">Physics</h2>

        <div class="article-content">
            
            <p>
            Welcome to andrew's notebook! This website is an ongoing project that I am currently working on and it holds two significant purposes.
            </p>
            <ol class="home-info" type="1">
                <li> It is to publish my chemical engineering notes for public use. </li>
                    <br>
                <li> A fun project that helps further my understanding of web development using Flask and Bootstrap. </li>
            </ol>
            
            <br>
            <p><b>Here's quick guide to this site:</b></p>
            
            <ul class="home-info" type="">
                <li> <strike>You may find the notes of different subjects on the navigation bar - <a href="{{url_for("main.blog")}}">subjects</a></strike> <b>Not ready!</b></li>
                <br>
                <li> There is a <a href="{{url_for("main.blog")}}">blog</a> section on this site which allows you to interact with other curious minds.<br>
                     (Note that you need to create an account to make posts.) </li>
                <br>
                <li> <strike>There might be errors in these notes. You can notify me using the "contact" page!</strike> </li>
                <br>
                <li> Enjoy yourself here and be sure to tell others about this open resource! </li>
            </ul>
            <br><br>
            <p>Quick shoutout to <b>Corey Schafer</b> on YouTube for putting up great web dev content!</p>
        </div>  
    </div>

{% endblock content %}