{% extends "layout_subject.html" %}

{% block navbarhome %}
    <li class="nav-item dropdown">
        <div class="animate-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Topics
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Chemistry I</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Chemistry II</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Org. Chem</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">P. Chem</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Inorg. Chem</a>

            </div>
        </div>
    </li>
{% endblock %}

{% block content %}

<div class="content-section mysec-chem">
    <div class="article-content">
        <u><h2>Welcome Quizzical Chemists!</h2></u>
        
        If you are here, it could mean that you are interested in learning some chemistry material. Well, I am glad
        you are able to join me to explore what entails the chemistry section of andrew's notebook. Take a look below
        for the available topics that is/will be offered:
    </div>  
</div>

<div class="content-section mysec-chem">
    <div class="article-content">
        <table class="view-all">
            <tr>
                <td style="text-align: center; width:20%; border:1px;">
                    \(f(x) = e^{x} + 4sin(x)\)<br><br>
                    \(\lim_{x \to +\infty} f(x)\)<br><br>
                    \(f'(x) = \frac{dy}{dx} = y'\)
                </td>
                <td style="width:60%; padding: 10px 50px 10px 30px;">
                <u><h2>Chemistry I</h2></u>
                    Math... It is something that a lot of people are afraid of doing because <i>its too difficult</i>. Well, I believe that
                    everything has a learning curve, and fortunately, the learning curve is not too steep for math - if you're willing to put in the
                    time and effort to master the skill. With enough practice, <b>you</b> can be a master at it! Having a good grasp of differential and
                    integral calculus is very useful in understanding the concepts presented in chemical engineering courses.  
                </td class="content-button-divider">
                <td style="width:15%; text-align: center;"><button type="button" class="btn btn-primary chem"><a class="view-all" href="{{ url_for('subjects.subject_home', subject_name='chem') }}">Learn Chem. I</a></button></td>
            </tr>
        </table>
    </div>  
</div>

<div class="content-section mysec-chem">
    <div class="article-content">
        <table class="view-all">
            <tr>
                <td style="text-align: center; width:20%; border:1px;">
                    \(f(x) = e^{x} + 4sin(x)\)<br><br>
                    \(\lim_{x \to +\infty} f(x)\)<br><br>
                    \(f'(x) = \frac{dy}{dx} = y'\)
                </td>
                <td style="width:60%; padding: 10px 50px 10px 30px;">
                <u><h2>Chemistry II</h2></u>
                    Math... It is something that a lot of people are afraid of doing because <i>its too difficult</i>. Well, I believe that
                    everything has a learning curve, and fortunately, the learning curve is not too steep for math - if you're willing to put in the
                    time and effort to master the skill. With enough practice, <b>you</b> can be a master at it! Having a good grasp of differential and
                    integral calculus is very useful in understanding the concepts presented in chemical engineering courses.  
                </td class="content-button-divider">
                <td style="width:15%; text-align: center;"><button type="button" class="btn btn-primary chem"><a class="view-all" href="{{ url_for('subjects.subject_home', subject_name='chem') }}">Learn Chem. II</a></button></td>
            </tr>
        </table>
    </div>  
</div>

<div class="content-section mysec-chem">
    <div class="article-content">
        <table class="view-all">
            <tr>
                <td style="text-align: center; width:20%; border:1px;">
                    \(f(x) = e^{x} + 4sin(x)\)<br><br>
                    \(\lim_{x \to +\infty} f(x)\)<br><br>
                    \(f'(x) = \frac{dy}{dx} = y'\)
                </td>
                <td style="width:60%; padding: 10px 50px 10px 30px;">
                <u><h2>Organic Chemistry</h2></u>
                    Math... It is something that a lot of people are afraid of doing because <i>its too difficult</i>. Well, I believe that
                    everything has a learning curve, and fortunately, the learning curve is not too steep for math - if you're willing to put in the
                    time and effort to master the skill. With enough practice, <b>you</b> can be a master at it! Having a good grasp of differential and
                    integral calculus is very useful in understanding the concepts presented in chemical engineering courses.  
                </td class="content-button-divider">
                <td style="width:15%; text-align: center;"><button type="button" class="btn btn-primary chem"><a class="view-all" href="{{ url_for('subjects.subject_home', subject_name='chem') }}">Learn Org. Chem.</a></button></td>
            </tr>
        </table>
    </div>  
</div>

<div class="content-section mysec-chem">
    <div class="article-content">
        <table class="view-all">
            <tr>
                <td style="text-align: center; width:20%; border:1px;">
                    \(f(x) = e^{x} + 4sin(x)\)<br><br>
                    \(\lim_{x \to +\infty} f(x)\)<br><br>
                    \(f'(x) = \frac{dy}{dx} = y'\)
                </td>
                <td style="width:60%; padding: 10px 50px 10px 30px;">
                <u><h2>Physical Chemistry</h2></u>
                    Math... It is something that a lot of people are afraid of doing because <i>its too difficult</i>. Well, I believe that
                    everything has a learning curve, and fortunately, the learning curve is not too steep for math - if you're willing to put in the
                    time and effort to master the skill. With enough practice, <b>you</b> can be a master at it! Having a good grasp of differential and
                    integral calculus is very useful in understanding the concepts presented in chemical engineering courses.  
                </td class="content-button-divider">
                <td style="width:15%; text-align: center;"><button type="button" class="btn btn-primary chem"><a class="view-all" href="{{ url_for('subjects.subject_home', subject_name='chem') }}">Learn P. Chem.</a></button></td>
            </tr>
        </table>
    </div>  
</div>

<div class="content-section mysec-chem">
    <div class="article-content">
        <table class="view-all">
            <tr>
                <td style="text-align: center; width:20%; border:1px;">
                    \(f(x) = e^{x} + 4sin(x)\)<br><br>
                    \(\lim_{x \to +\infty} f(x)\)<br><br>
                    \(f'(x) = \frac{dy}{dx} = y'\)
                </td>
                <td style="width:60%; padding: 10px 50px 10px 30px;">
                <u><h2>Inorganic Chemistry</h2></u>
                    Math... It is something that a lot of people are afraid of doing because <i>its too difficult</i>. Well, I believe that
                    everything has a learning curve, and fortunately, the learning curve is not too steep for math - if you're willing to put in the
                    time and effort to master the skill. With enough practice, <b>you</b> can be a master at it! Having a good grasp of differential and
                    integral calculus is very useful in understanding the concepts presented in chemical engineering courses.  
                </td class="content-button-divider">
                <td style="width:15%; text-align: center;"><button type="button" class="btn btn-primary chem"><a class="view-all" href="{{ url_for('subjects.subject_home', subject_name='chem') }}">Learn Inorg.</a></button></td>
            </tr>
        </table>
    </div>  
</div>

{% endblock content %}