{% extends "layout_subject.html" %}

{% block content %}

<div class="content-section mysec-cheme">
    <div class="article-content">
        <h3>Chapter 1: Mole Balance</h3>
        <br>
        <h5><u>1.4.1 Continuously-Stirred Tank Reactors (CSTR)</u></h5>
        <br>
        <h6><u>General Information</u></h6>

        <p> Commonly known as <i>vats</i> and <i>backmix reactors</i>, CSTRs are primarily used for liquid phase reactions. Since it 
            is a continuous reactor, the calculations performed under the well-mixed model which states that the reactor 
            is operated at steady state and is assumed to be perfectly mixed. This means that the temperature and concentration of 
            the liquid is the same at the exit as they are everywhere else. It is when mixing is highly non-ideal when the well-mixed 
            model is inadequate and will require other modeling techniques such as the residence time distribution to obtain useful results. 
        </p>

        <br>
        <div class="dropdown-divider"></div>
        <br>

        <h6><u>Design Equation of a CSTR</u></h6>

        <p>
            Let's discuss about the <b>mole balance in CSTRs</b>. A CSTR is assumed to be operating at steady-state, which can 
            be written as (\(\frac{dN_j}{dt} = 0\)). Hence, the resulting mole balance is:
        </p>  

        <p class="topic-center-item topic-equations">\[ F_{j_o} - F_{j} + \int^V r_j \cdot dV = \frac{dN_j}{dt} \]</p>
        <p class="topic-center-item topic-item-padding">\( \downarrow \)</p>
        <p class="topic-center-item topic-item-padding">\[ F_{j_o} - F_{j} + \int^V r_j \cdot dV = 0 \]</p>
        
        <p> Also, because of the well-mixed model we are using, there are no spatial variations in the reactor, which means that:</p>

        <p class="topic-center-item topic-equations">\[ \int^V r_j \cdot dV = r_j \cdot V \]</p>

        <p>Which will turn out mole balance equation into:</p>

        <p class="topic-center-item topic-item-padding">\[ F_{j_o} - F_{j} + \int^V r_j \cdot dV = 0 \]</p>
        <p class="topic-center-item topic-item-padding">\( \downarrow \)</p>
        <p class="topic-center-item topic-item-padding">\[ F_{j_o} - F_{j} + r_j \cdot V = 0 \]</p>
        <p class="topic-center-item topic-item-padding">\( \downarrow \)</p>
        <p class="topic-center-item topic-item-padding">\[ V = \frac{F_{j} - F_{j_o}}{r_j} \]</p>
        <p class="topic-center-item topic-item-padding">\( \downarrow \)</p>
        <p class="topic-center-item topic-item-padding">\[ V = \frac{F_{j_o} - F_{j}}{-r_j} \]</p>

        <p> The design equation of a CSTR gives us the reactor volume, V, necessary to reduce the entering flow rate of species <i>j</i>
            from the \(F_{j_o}\) to \(F_j\), when species <i>j</i> is disappearing at a rate of <i>\(-r_j\)</i>. To take a step further,
            we can represent the flow rates \(F_{j_o}\) and \(F_j\) as:
        </p>

        <p class="topic-center-item topic-item-padding">\( F_j = C_j \cdot \upsilon \)</p>

        <p> Which shows that the flow rate is equals to the concentration and velocity of the material, making out final design equation to be:</p>
    
        <p class="topic-center-item topic-item-padding">\[ V = \frac{C_{j_o} {\upsilon}_o - C_j {\upsilon}}{-r_j} \]</p>
    </div>  
</div>

{% endblock content %}

{% block sidebar %}

<div class="content-section subject-topic-ann" id="position-fixed">
    <div class="article-content">
        <h3>Quick Notes</h3>
        <u>Equations Used</u>
        <ul class="topic-equations" type="square">
            <li> \( F_{j_o} - F_{j} + \int^V r_j \cdot dV = \frac{dN_j}{dt} \) </li>
            <li> \( G_{j} = \int^V r_j \cdot dV \)</li>
            <li> \( F_j = C_j \cdot \upsilon \) </li>
            <li> \( V = \frac{C_{j_o} {\upsilon}_o - C_j {\upsilon}}{-r_j} \) </li>
        </ul>
        <p></p>
        <u>Standard Units</u>
        <ul class="topic-equations" type="square">
            <li> \( F_{j_o}, F_{j}, G_{j}, \frac{dN_j}{dt} = \frac{moles}{time} \) </li>
            <li> \( r_j = \frac{moles}{volume \cdot time} \) </li>
            <li> \( \upsilon = \frac{volume}{time} \)</li>
            <li> \( C_j = \frac{moles}{volume} \) </li>
            <li> \( V = volume \) </li>
        </ul>
    </div>  
</div>
<!--
<div class="content-section subject-topic-ann" id="position-fixed">
    <div class="article-content">
        <h3>Useful Links</h3>
        <p></p>
        <ul type="square">
            <li style="padding-left: 10px;"></li>
        </ul>

    </div>  
</div>
-->
{% endblock %}

{% block togglebtn %}
<div class="content-section topic-buttons">
    <table style="width: 100%; border: 1px; ">
        <tr>
            <td style="text-align: left;"><a href="{{url_for('subjects.topic_chapter', subject_name='cheme', topic_name='cre', chapter='chapter_1', num='4')}}"><button type="button" class="btn btn-primary">&#8592; Back</button></a></td>
            <td style="text-align: center;"><a href="{{url_for('subjects.subject_home', subject_name='cheme')}}"><button type="button" class="btn btn-secondary">Home</button></a></td>
            <td style="text-align: right;"><a href="{{url_for('subjects.topic_chapter', subject_name='cheme', topic_name='cre', chapter='chapter_1', num='#')}}"><button type="button" class="btn btn-primary"><strike>Next &#8594;</strike></button></a></td>
        </tr>
    </table>
</div>
{% endblock %}